In [2]:
import numpy as np

### 1) Alturas  
i. No trecho de código abaixo, crie um ndarray chamado ```altura_em_centimetros``` transformando a lista ```lista_de_alturas``` em um ndarray do numpy com a função ```np.array()```  
ii. Crie um outro objeto ```altura_em_metros```, com os valores de ```altura_em_centimetros``` convertidos para metros.

In [3]:
lista_de_centimetros = list(range(170, 190, 5))
lista_de_centimetros

[170, 175, 180, 185]

In [4]:
altura_em_centimetros = np.array(lista_de_centimetros)
altura_em_centimetros

array([170, 175, 180, 185])

In [5]:
altura_em_metros = (altura_em_centimetros*60)/60
altura_em_metros

array([170., 175., 180., 185.])

### 2) IMC  
i. Considere que pesos em Kg dessas pessoas, na mesma ortem, estão na lista pesos ```lista_pesos = [70, 75, 80, 85]```. Crie um **ndarray** chamado ```pesos``` com a função ```np.array()``` que contenha esses valores.  
ii. Utilizando o objeto que contém as alturas em metros e esse objeto que contém os respectivos pesos em quilos, calcule o IMC desses indivíduos utilizando a aritmética de arrays e guarde os resultados em um objeto chamado ```imc```.

In [6]:
lista_pesos = [70, 75, 80, 85]
lista_pesos
pesos = np.array(lista_pesos)
pesos

array([70, 75, 80, 85])

In [7]:
#aqui estou multiplicando a altura dos usuários
altura_em_metros_1 = altura_em_metros * 2
altura_em_metros_1

array([340., 350., 360., 370.])

In [8]:
#estou calculando imc de cada usuário
imc = altura_em_metros/pesos
print(imc)

[2.42857143 2.33333333 2.25       2.17647059]

### 3) Endividamento

Cálculos de novas variáveis como endividamento total e comprometimento de renda são essenciais para a construção de modelos financeiros em ciência de dados. Áreas não financeiras terão cálculos semelhantes também. Vamos praticar:

Considere que o seguinte ndarray contém os dados de 4 pessoas, total a ser pago a empréstimos mensalmente e renda familiar:

| custo fixo | dívida financeira | renda familiar |
|:----:|:----:|:---|
| 3000  | 1000 | 6000 |
| 2500  | 2500 | 5500 |
| 1000  | 3000 | 7000 |
| 10000 | 5000 | 16000 |

i. Transforme a lista de listas ```dados_financeiros``` no ndarray ```nd_financeiros```.
> ``` dados_financeiros[[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]] ```

ii. Utilize o método ```.transpose ``` e certifique-se de que esse ndarray tenha uma linha por indivíduo e uma coluna por informação. Utilizando a indexação do numpy, imprima no output a segunda linha do array, depois a segunda coluna.

iii. Pratique aritmética com nearrays e calcule o endividamento total como:
$$endividamento\hspace{.2cm}total = \frac{custo \hspace{.2cm}fixo + dívida\hspace{.2cm}financeira}{renda\hspace{.2cm}familiar}$$
Guarde os resultados em uma variável chamada ```endividamento_total``` e verifique os resultados imprimindo o conteúdo dessa variável no output.

iv. Considere que há um erro de digitação que precisa ser corrigido: 3o indivíduo na verdade não possui renda familiar de R\\$7.000,00, mas sim R\\$ 10.000,00. Corrija esse valor e refaça os cálculos.

In [20]:
# lista dados_financeiros
dados_financeiros = ([[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]])
dados_financeiros
#transformando em ndarray
nd_financeiros = np.array(dados_financeiros)
nd_financeiros

array([[ 3000,  2500,  1000, 10000],
       [ 1000,  2500,  3000,  5000],
       [ 6000,  5500,  7000, 16000]])

In [21]:
#Verificando a ordem e estrutura dos dados com metodo transpose
np.transpose(nd_financeiros)

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000,  7000],
       [10000,  5000, 16000]])

In [22]:
#imprimindo a segunda linha
nd_financeiros[:,1]

array([2500, 2500, 5500])

In [23]:
#imprimindo segunda coluna
nd_financeiros[1,:]

array([1000, 2500, 3000, 5000])

In [24]:
#calculando o endividamento total
#calculo de quantos % de devida compromete renda familiar
endividamento_total = (nd_financeiros[0,:] + nd_financeiros[1,:])/nd_financeiros[2,:]
endividamento_total

array([0.66666667, 0.90909091, 0.57142857, 0.9375    ])

In [34]:
np.transpose(nd_financeiros)

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000,  7000],
       [10000,  5000, 16000]])

In [ ]:
nd_financeiros[2,2]

Realizando a correção do valor da renda e refazendo os calculos

In [43]:
# Corrigindo o valor da renda do terceiro indivíduo
dados_financeiros[2][2] = 10000

# Criando o objeto nd_financeiros
nd_financeiros = np.array(dados_financeiros)

# Exibindo o novo objeto nd_financeiros
print(nd_financeiros)

[[ 3000  2500  1000 10000]
 [ 1000  2500  3000  5000]
 [ 6000  5500 10000 16000]]

In [44]:
#Verificando a ordem e estrutura dos dados com metodo transpose
#Verificando se foi realizado a aleteraçao no local especifico
np.transpose(nd_financeiros)

array([[ 3000,  1000,  6000],
       [ 2500,  2500,  5500],
       [ 1000,  3000, 10000],
       [10000,  5000, 16000]])

In [45]:
#refazendo os calculos com o novo valor alterado nos dados / calculando o endividamento total
#calculo de quantos % de divida compromete renda familiar
endividamento_total = (nd_financeiros[0,:] + nd_financeiros[1,:])/nd_financeiros[2,:]
endividamento_total

array([0.66666667, 0.90909091, 0.4       , 0.9375    ])

### 4) É muito comum precisarmos identificar valores especiais e darmos tratamento a eles quer seja alterando-os quer seja descartando-os. 

O trecho de código abaixo gera um ndarray com números pseudo aleatórios. Considere que para efeitos do estudo que virá, devemos desconsiderar valores iguais a zero. Sendo assim:

i) crie um objeto ```bool_zero``` que traga uma sequencia de booleanos do mesmo tamanho que o objeto poi, e que vale ```True``` quando o valor de ```poi``` é zero, e ```False``` caso contrário.

ii) Conte quantos valores zero existem. Lembre-se de que no final das contas, ```True``` vale 1 para o Python, e ```False``` vale zero, então uma boa dica seria usar a função ```sum()```.

iii) Utilize a indexação booleana que você aprendeu para criar uma variável ```poi_nao_zero``` que aponta para os elementos de ```poi``` diferentes de zero. Dica: você vai pode inverter os elementos do objeto que criou em *ii)* ou escrever a comparação adequada.

In [36]:
# objeto poi - obs: o comando np.random.seed(1234) garante que o mesmo resultado será gerado sempre
np.random.seed(1234)
poi = np.random.poisson(3, 100)
poi

array([3, 3, 6, 2, 4, 5, 4, 4, 2, 0, 3, 3, 2, 8, 2, 3, 3, 3, 0, 4, 4, 2,
       6, 6, 0, 3, 4, 3, 5, 2, 1, 3, 2, 2, 3, 2, 4, 4, 5, 7, 3, 5, 3, 3,
       2, 2, 3, 6, 2, 2, 4, 3, 5, 2, 5, 3, 0, 2, 1, 1, 4, 4, 4, 6, 2, 4,
       1, 2, 5, 5, 3, 4, 1, 4, 1, 1, 7, 1, 2, 1, 3, 7, 0, 4, 4, 0, 6, 1,
       3, 4, 2, 5, 4, 5, 5, 3, 4, 6, 8, 2])

In [39]:
# i) crie o objeto bool_zero através do operador ==
#criando objeto bool_zero
bool_zero = np.array(poi) == 0
#verificando os 10 primeiros valores de bool_zero
print(bool_zero[:100])

[False False False False False False False False False  True False False
 False False False False False False  True False False False False False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False  True False False False False False False False False False False
 False False False False]

In [41]:
# ii) Conte a quantidade de zeros (ou some os elementos de bool_zero)
# Criando o objeto bool_zero

bool_zero = np.array(poi) == 0

# Contando a quantidade de zeros

quantidade_zeros = np.count_nonzero(bool_zero) #count_nonzero() funçãoque conta numero de valores diferente de zero na matriz -termo 'não zero' refere-se ao metodo embutido

# Exibindo o resultado

print(f"A quantidade de zeros no objeto bool_zero é: {quantidade_zeros}")

A quantidade de zeros no objeto bool_zero é: 6

In [42]:
# iii) utilize a indexação booleana para criar uma seleção de não-zeros
# dica: inverta o objeto bool_zero

# Criando o objeto bool_zero
bool_zero = np.array(poi) == 0

# Criando a seleção de não-zeros (invertendo bool_zero)
selecao_nao_zeros = poi[~bool_zero]

# Exibindo os primeiros 10 valores da seleção de não-zeros
print(selecao_nao_zeros[:10])

[3 3 6 2 4 5 4 4 2 3]